<!DOCTYPE html>
<html>
<head>
  <title>TicketPunch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<script type="text/template" id="menu-brand">
  <a href="/">TicketPunch</a>
</script>
<script type="text/template" id="menu-contents">

</script>


<body>
  <nav>
    <div class="nav">
    <div class="menu-btn" id="menu-btn">
    <div class="responsive-menu">
      <span class="fui-list-columned expand-menu"></span>
      <div class="menu-container expand">
        <a href="/">Home</a>
        <a href="/users/new">Sign-Up</a>
        <a href="/users/log-in">Log-In</a>
      </div>
  </nav>

</div>
</div>

<%= yield %>


<div id='bottom'>
    <div id='bottom-center'>
      <img src="/TopHalf.png">
    </div>
</div>
</body>
</html>
